<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <ConnectionStrings>
     <add nome="CromoGestBD" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=F:\OneDrive\C#_repos\CromoGest\CromoGestLibrary\SQL\CromoGestBD.mdf;Integrated Security=True"/>
    </ConnectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>